List Comprehension is an elegant way to define and create lists based on existing lists.

-It is generally more compact and faster than normal functions and loops for creating lists. 

-It is a process of creating new sequences from existing sequences.

Syntax : 

[expression for item in list]

In [1]:
squares = []
for i in range(11):
    squares.append(i*i)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
s = [i for i in range (11) if i%2 == 0]
s

[0, 2, 4, 6, 8, 10]

In [5]:
sq = [i**2 for i in range (11) if i%2 == 0]
sq

[0, 4, 16, 36, 64, 100]

In [6]:
sa = [(i,i**2,i**3) for i in range (11) if i%2 == 0]
sa

[(0, 0, 0),
 (2, 4, 8),
 (4, 16, 64),
 (6, 36, 216),
 (8, 64, 512),
 (10, 100, 1000)]

In [7]:
#print elements in range(100) which are divisible by 2 and 5
a = [i for i in range (100) if i%2==0 and i%5==0]
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [12]:
#print elements in range(100) which are divisible by 2 or 5
a = [i for i in range (100) if i%2==0 or i%5==0]
a

[0,
 2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98]

In [46]:
#determine if elements in range(10) are even or odd
obj = ["Even" if i%2 == 0 else "Odd" for i in range(10)]
obj

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [45]:
s

[0, 2, 4, 6, 8, 10]

In [44]:
#determine if elements in list s are even or odd
second = ["Even" if i%2 == 0 else "Odd" for i in s]
second

['Even', 'Even', 'Even', 'Even', 'Even', 'Even']

In [31]:
#print elements in family which have letter a
family = ["Vaidehi", "Rajiv", "Manisha", "Sara", "Kavya"]
newlist = [x for x in family if "a" in x]
newlist

['Vaidehi', 'Rajiv', 'Manisha', 'Sara', 'Kavya']

In [32]:
#print elements in family which do not have letter a
newlist = [x for x in family if "a" not in x]
newlist

[]

In [34]:
#print strings in list family if they aren't "Sara"
newlist = [x for x in family if x!= "Sara"]
newlist

['Vaidehi', 'Rajiv', 'Manisha', 'Kavya']

In [35]:
#to prove that "sara" is not the same as "Sara"

newlist = [x for x in family if x!= "sara"]
newlist

['Vaidehi', 'Rajiv', 'Manisha', 'Sara', 'Kavya']

In [42]:
#Lowercase conversion of string elements in list family
newlist = [x.lower() for x in family]
newlist

['vaidehi', 'rajiv', 'manisha', 'sara', 'kavya']

In [43]:
#Uppercase conversion of string elements in list family

newlist = [x.upper() for x in family]
newlist

['VAIDEHI', 'RAJIV', 'MANISHA', 'SARA', 'KAVYA']

In [39]:
#modulus of elements in list c (range 11)

c = [1,2,3,4,5,6,7,8,9,10]
c1 = [x%3 for x in c]
c1

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [40]:
#create a matrix

matrix = [[j for j in range (5)] for i in range (3)]
matrix

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [41]:
#reverse a string

list1 = [string[::-1] for string in ('Geeks','for','Geeks')]
list1

['skeeG', 'rof', 'skeeG']

In [47]:
#convert float values in list a2 to int values in list a3
a2 = [1.5,2.5,3.6, 4.1,6.0]
a3 = [int(x) for x in a2]
a3

[1, 2, 3, 4, 6]

In [54]:
a4 = [1,2,3,4,5]
a5 = [i for i in a4 if i%2==0]
total = 0
for i in a5:
    total = total + i
total

6

In [51]:
a6 = [101,202,303,404,505,606]
a7 = [bin(i) for i in a6]
a7

['0b1100101',
 '0b11001010',
 '0b100101111',
 '0b110010100',
 '0b111111001',
 '0b1001011110']