In [1]:
#half diamond pattern
for i in range(5):
    for j in range(0, i + 1):
        print(" *", end = "")
    print()
    
for i in range(1, 5):
    for j in range(i, 5):
            print(" *", end = "")
    print()

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

In [2]:
#basic if-else program
a = 33
b = 4
if b > a:
    print("b is greater than a")
else:
    print("b is smaller than a")

b is smaller than a

In [3]:
#calculator using arithmetic operators
# P.S no switch case in Py3, use if, elif, else(for default)
a = 5
b = 2
print("1. Add\n2. Subtract\n3. Multiply\n4. Divide\n5. Square\n6. Square Root\n7. Remainder")
n = int(input("Choose one option : "))
if n==1:
    print(a+b)
elif n==2:
    print(a-b)
elif n==3:
    print(a*b)
elif n==4:
    print(a/b)
elif n==5:
    print(a**2, b**2)
elif n==6:
    print(a**0.5, b**0.5)
elif n==7:
    print(a%b)

1. Add
2. Subtract
3. Multiply
4. Divide
5. Square
6. Square Root
7. Remainder
Choose one option : 4
2.5

In [5]:
#Square root using math library
import math
print(math.sqrt(25))

5.0

In [9]:
#generate a random number in the range 100 to 500
import random
print(random.randint(100,500))

351

In [12]:
#iterate string using for loop
string = "SUPERCALLIFRAGILISTICEXPIALIDOCIUS"
for i in string:
    print(i)

S
U
P
E
R
C
A
L
L
I
F
R
A
G
I
L
I
S
T
I
C
E
X
P
I
A
L
I
D
O
C
I
U
S

In [2]:
#add natural numbers
N = 100
sum = 0
i = 1
while i <= N :
    sum = sum + i
    i = i + 1
    
print(sum)

5050

In [6]:
#Relational Operators
n = int(input("Enter a number : "))
if n == 56:
    print("This is my number.")
elif n != 56: 
    print("This is not my number.")
    if n > 56:
        print("My number is smaller !")
    elif n < 56:
        print("My number is greater !")
if n%2==0 and n!=56:
    print("My number is even too !")
elif n%2!=0 and n!=56:
    print("My number is even, bro.")

Enter a number : 43
This is not my number.
My number is greater !
My number is even, bro.

In [46]:
# binary to decimal

a = 0b11111111
a

255

In [31]:
# Octal to decimal

a = 0o17
print(a)

15

In [35]:
# binary to decimal
a = 0b10000100
print(a)

132

In [41]:
# decimal to binary

a = 132
bin(a)

'0b10000100'

In [42]:
# Octal to decimal

a = 0o1119
a

SyntaxError: invalid digit '9' in octal literal (776241606.py, line 1)

In [44]:
# binary to decimal
a = 0b00001111
a

15

In [48]:
# Octal to decimal
a = 0o117
a

79

In [49]:
# decimal to Octal 
a = 79
b = oct(a)
b

'0o117'

In [50]:
# hex to decimal

a = 0x0f
int(a)

15

In [54]:
# hex to decimal
a = 0xff
int(a)

255

In [56]:
# hex to decimal or binary
a = 0xaa
int(a)
bin(a)

'0b10101010'

In [57]:
# add complex nos
a = 2 + 3j
b = 5 + 6j 
a+b

(7+9j)